div{
    text-align: center;
}
.vertical{
    
    text-align: left; /*Выравнивание текста в лево*/
    float: left; /*Див в лево для контента с права*/
    background: rgb(84, 235, 227);
    color: rgb(233, 34, 34);
    padding-right: 15px;
}
.menu-link, .menu-link:visited{
    color: rgb(139, 11, 11); /*Цвет ссылок горизонтального и вертикального меню на 1 стр*/ 
    text-decoration: none; /* Убираем подчеркивание у ссылок */
}
.menu-link:hover{
    color: #6d0abe;
}
.btn-up{
    height: 100px;
    text-align: left; /*Выравнивание текста в лево*/
    background: radial-gradient(#0c60ad, #27bbe0);
    
    color: rgb(109, 7, 7); /*Цвет текста*/
    clear: both; /*див с новой строки*/
}
.menu{
    color: rgb(233, 34, 34);
    background: rgb(84, 235, 227);
    padding: 10px 0px 10px 0px; /*Отступ внутренний с верху и с низу*/
    margin: 0px 0px 10px 0px; /*Отступ внешний с низу */
}
header{
    margin-bottom: 10px;
    text-align: center;
    background: radial-gradient(#0c60ad, #27bbe0);
    
    color: rgb(255, 255, 255);
    font-family: 'Lobster',cursive;;
    padding: 107px 0px 107px 0px;
}
.content{
    background: rgb(20, 206, 166);
    color: rgb(0, 0, 0);
    margin-left: 200px;
    text-align: left;
}
.wrapper{
    width: 80%; /*Ширина сайта*/
    margin:0 10% 0 10%;
}
img{
    border: 3px dotted rgb(0, 0, 0); /*Цвет оконтовки картинок*/
    box-shadow: 10px 10px 5px 5px #000000;
} 
.tr1 td{
    background: #808080;
    color: rgb(60, 67, 129)  /*Таблица в обучении*/
} 

body{
    background: url(../img/12.jpg) /*Фон сайта*/
} 
.education td:hover, .education th:hover {
    visibility: hidden; /*Исчезновение при наведении*/
}
.buttonup {
    background: #00000087;
    color: rgb(255, 255, 255);
    width:80px; /*Ширина*/
    height:18px; /*Высота*/
    position:fixed;
    bottom:50px; /*Растояние от низа*/
    right:50px; /*Расстояние справа*/
    text-decoration: none; /* Убираем подчеркивание у ссылок */
}
.unit{
    text-align: left;
}
.A11 a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}

        li ul {
        position: absolute; /* Подменю позиционируются абсолютно */
        display: none; /* Скрываем подменю */
        margin-left: 100px; /* Сдвигаем подменю вправо */
        margin-top: -2em; /* Сдвигаем подменю вверх */
        }
        li a {
        display: block; /* Ссылка как блочный элемент */
        padding: 5px; /* Поля вокруг надписи */
        text-decoration: none; /* Подчеркивание у ссылок убираем */
        color: rgb(5, 117, 52); /* Цвет текста */
        border: 1px solid rgb(102, 145, 54);/* Рамка вокруг пунктов меню */
        background-color:  rgba(83, 32, 32, 0.426);; /* Цвет фона */
        border-bottom: none; /* Границу снизу не проводим */
        }
        li a:hover {
        color: rgb(49, 49, 34); /* Цвет текста активного пункта */
        background-color: #9dff00; /* Цвет фона активного пункта */
        }
        li:hover ul {
        display: block; /* При выделении пункта курсором мыши отображается
        подменю */
        }
        .brd {
        border-bottom: 1px solid rgb(177, 17, 65); /* Линия снизу */
        }
        li {
            list-style-type: none; /* Убираем маркеры */
           }

@media (max-width:1100px){
    #container{
        min-width: 970px;
    }
}
@media(max-width:1000px){
    #sidebar{
        display: none;
    }
    #header{
        background: linear-gradient(to right, #ee0e0e, #8dba35);
    }
    menu{
        background: linear-gradient(to right, #c016a4, #2f16cc);
    }
    .vertical{
        background: linear-gradient(to right, #c016a4, #2f16cc);
    }
    .content{
        background: linear-gradient(to right, #747474, #000000);
        width: 100%;
        align-items: center;
        justify-content: center;
        margin-left: 0px;
    }
    .tr1 td{
        background: linear-gradient(to right, #3b9443, #3fffdf);
    }
}
@media(max-width:992px){
    #container{
        max-width: 720px;
    }
}
@media(max-width:767px){
    #container{
        max-width: 650px;
    }
}@media(max-width:670px){
    #container{
        max-width: 550px;
    }
    .menu{
        display: none;
        margin: 10px;
        padding: 10px;
    }
    #header{
        height: 55px;
    }
    .tr1 td{
        height: 25px;
    }
}